<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWawR39nkyWwq9sqLQubCNRGNa8fwFDyU</string>
	<key>GCM_SENDER_ID</key>
	<string>92688619875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webrtc</string>
	<key>PROJECT_ID</key>
	<string>webrtc-bdf8e</string>
	<key>STORAGE_BUCKET</key>
	<string>webrtc-bdf8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92688619875:ios:b06976481ca76ff36d9b56</string>
</dict>
</plist>